@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

*{
    font-family: "Noto Sans Hebrew", sans-serif;
}

body {
  direction: rtl;
  @apply bg-background text-foreground overflow-x-hidden transition-colors duration-300;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full hover:bg-slate-400 transition-colors dark:bg-slate-700/50 dark:hover:bg-slate-700;
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
}

:root {
    --radius: 0.5rem;
    --background: #ffffff;
    --foreground: #001e30;
    --card: #ffffff;
    --card-foreground: #001e30;
    --popover: #ffffff;
    --popover-foreground: #001e30;
    --primary: #0074ff;
    --primary-foreground: #ffffff;
    --secondary: #eff6ff;
    --secondary-foreground: #0074ff;
    --muted: #f8fafc;
    --muted-foreground: #64748b;
    --accent: #eff6ff;
    --accent-foreground: #0074ff;
    --destructive: #df1b12;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #0074ff;
}

.dark {
    --background: #000c14;
    --foreground: #f8fafc;
    --card: #04121d;
    --card-foreground: #f8fafc;
    --popover: #000c14;
    --popover-foreground: #f8fafc;
    --primary: #0074ff;
    --primary-foreground: #ffffff;
    --secondary: #001e30;
    --secondary-foreground: #f8fafc;
    --muted: #001e30;
    --muted-foreground: #94a3b8;
    --accent: #001e30;
    --accent-foreground: #0074ff;
    --destructive: #7f1d1d;
    --border: #001e30;
    --input: #001e30;
    --ring: #0074ff;
}

@layer base {
  * {
    @apply border-border outline-ring/50 transition-colors duration-200;
    }
}